
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: #f4f4f4;
}


.header {
    background-color: #003366;
    color: #fff;
    text-align: center;
    padding: 20px;
    animation: moverse 15s 1;

}

.header h1 {
    font-size: 2.5em;
}

.header p {
    font-size: 1.2em;
}

.header a{
   color: rgb(255, 255, 255);
}

@keyframes moverse{
    0%{
        transform: translateX(-200%);
    }
    10%{
        transform: translateX(0%);
    }
}

.services {
    padding: 20px;
    text-align: center;
}

.services h2 {
    font-size: 2em;
    color: #003366;
    margin-bottom: 10px;
}

.services p {
    font-size: 1em;
    color: #555;
    margin-bottom: 20px;
}

.service-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.service-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 45%;
    margin: 10px;
    padding: 20px;
    text-align: left;
}

.service-item h3 {
    color: #003366;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.service-item p {
    font-size: 1em;
    color: #666;
}


.contact {
    padding: 20px;
    background-color: #eee;
    text-align: center;
}

.contact h2 {
    font-size: 2em;
    color: #003366;
    margin-bottom: 10px;
}

.contact p {
    font-size: 1em;
    color: #555;
    margin-bottom: 10px;
}

.contact strong {
    font-weight: bold;
}

.footer {
    background-color: #003366;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

.footer p {
    font-size: 0.9em;
}

.service-item{
    transition: transform 0.2s; 
  }
  .service-item:hover {
    transform: scale(1.2); 
  }
  
  .service-item{
    opacity: 0;
    animation: aparecer 2s forwards; 
  }
  @keyframes aparecer {
    0% {
        opacity: 0; 
    }
    100% {
        opacity: 1; 
    }
  }
 
