p{color:black;}
body{
    display:flexbox;
    background-color: #777;
    color:#fefefe
}
div{display: flex}
a{display:;}
.autopaggani{
    border-radius: 8px;
    display: flex;
    height: 200px;
    width: 400px;
}