p {
    color: rgb(246, 246, 246);
    justify-content: center;
    font-family: Century Gothic;
    text-align: center;
    margin-bottom: 20px;
    line-height: 1.5;

}

stand {

    font:900 ;
}

body {
    
    display: flexbox;
    background-color: #0d0d0d;
    color: #fefefe;

}

div {
    display: grid;
}

a {
    display: flexbox;
    text-decoration: none;
}
.menu {
  display: none;
  animation: desplegar 1s forwards;
}

@keyframes desplegar {
  0% {
    display: none;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
.espaciochill{
    padding: 100px 10px 10px 300px;
}
.carapagani{
    border-radius: 50px ;
    display: flex;
    height: 200px;
    width: 400px;   
    padding:  10opx 10px 10px 10px;

}


.autopaggani {

    border-radius: 0% 0%;
    display: flex;
    height: 200px;
    width: 400px;
    padding:10px 0 0 100px; 
}

h1 {
    text-align: center;
    justify-content: center;
    align-items: center;
    font: fira 80px;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 5px 7px 7px;
    letter-spacing: 10px;
    animation: titulo 15s ;
    line-height: 4;
    font-size: 50px;

}

@keyframes titulo{
    0%{
        transform: translateX(-300%);
    }
    10%{
        transform: translateX(-0%);
    }
}

.titulop {

    font-family: century gothic;
    font-size: 30px;
    font: bold;
    color: #150f34;
  

}

.image-container {

    justify-content: center;
    overflow: hidden;
    width: 100vw;
    animation: movimiento 15s 1;

}

@keyframes movimiento{
    0%{
        transform: translateX(-200%);
    }
    10%{
        transform: translateX(0%);
    }
}

h2 {
    font: 70px;
    font-family: arial black; 
    text-shadow: 1px 1px 1px; 

}

h2 { 
    justify-content: left;
    opacity: 0;
	text-align: center;
	animation: aparecer 2s forwards; 
    margin-bottom: 30px;
    line-height: 1.5;
}

@keyframes aparecer {
	0% {
		opacity:0;
        width: 0%;
        white-space: nowrap;
        overflow: hidden;
	}
	100% {
		opacity: 1; 
        width: 100%;
    }
}

.parrafo-1 {
        transition: transform 0.5s ease; 
    }
.parrafo-1:hover {
        transform:translateY(-10px);
}

.parrafo-2 {
    transition: transform 0.5s ease; 
}
.parrafo-2:hover {
    transform:translateY(-10px);
}

.parrafo-3{
    transition: transform 0.5s ease; 
}
.parrafo-3:hover {
    transform:translateY(-10px);
}

.parrafo-5 {
    transition: transform 0.5s ease; 
}
.parrafo-5:hover {
    transform:translateY(-10px);
}

.parrafo-6 {
    transition: transform 0.5s ease; 
}
.parrafo-6:hover {
    transform:translateY(-10px);
}
.parrafo-7 {
    transition: transform 0.5s ease; 
}
.parrafo-7:hover {
    transform:translateY(-10px);
}

.parrafo-8 {
    transition: transform 0.5s ease; 
}
.parrafo-8:hover {
    transform:translateY(-10px);
}

.parrafo-9 {
    transition: transform 0.5s ease; 
}
.parrafo-9:hover {
    transform:translateY(-10px);
}

.parrafo.10 {
    transition: transform 0.5s ease; 
}
.parrafo.10:hover {
    transform:translateY(-10px);
}

p { 
    justify-content: left;
    opacity: 0;
	text-align: center;
	animation: aparecer 2s forwards; 
}

@keyframes aparecer {
	0% {
		opacity:0;
	}
	100% {
		opacity: 1; 
    }
}



  .nav {
    font-family: 'Titillium Web';
    font-weight: 600;
  }

  body {
    background-image: url(img/fondo.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed; 
    background-color: rgba(255, 255, 255, 0.233); 
    backdrop-filter: blur(10px); 
    box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.7);
    
   }
   
 


.titulop   {
    color: #00BFFF; /* Azul neón */
    text-shadow: 
      0 0 5px #00BFFF,
      0 0 10px #00BFFF,
      0 0 15px #00BFFF,
      0 0 20px #00BFFF;
    font-size: 24px;
    font-weight: bold;
      }
      
      
