p {
    color: black;
    justify-content: center;
    font-family: Century Gothic;
    text-align: center;

}

stand {

    font:900 ;
}

body {
    
    display: flexbox;
    background-color: #a9a9a9;
    color: #fefefe;
}

div {
    display: grid;
}

a {
    display: flexbox;
    text-decoration: none;
}
menu{
   justify-content: center;
    background-color: beige;
    display:flex;
    

}
.espaciochill{
    padding: 10px 10px 10px 50px;
}
.carapagani{
    border-radius: 50px ;
    display: flex;
    height: 200px;
    width: 250px;   
    padding:  0 0 0 300px;
    animation:;
}


.image-container{
    justify-content: center;
    overflow: hidden;
    width: 100vw;
}

.animated-image{
    width: 300px;
    animation: movimiento 15s 1;
}
@keyframes movimiento{
    0%{
        transform: translateX(-200%);
    }
    10%{
        transform: translateX(0%);
    }
}

.autopaggani {
    border-radius: 25% 25%;
    display: flex;
    height: 200px;
    width: 400px;
    padding:10px 0 0 100px; 
}

h1 {
    justify-content: center;
    align-items: center;
    font: fira 80px;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 5px 7px 7px;
    letter-spacing: 10px;
    animation: titulo 15s 1;
}
@keyframes titulo{
    0%{
        transform: translateX(-300%);
    }
    10%{
        transform: translateX(-0%);
    }
}

.titulop {
    font-family: Eras Bold ITC;
    font-size: 30px;
    font: bold;
    color: #3e3472;

}

h2 {
    font: 70px;
    font-family: arial black; 
    text-shadow: 1px 1px 1px; 

}
h2 { opacity: 0;
	
	animation: aparecer 2s forwards; 
}
@keyframes aparecer {
	0% {
		opacity:0;
	}
	100% {
		opacity: 1; 
	}
}